:root {
    --nav_bg_color: linear-gradient(to top left, rgb(8, 126, 57), rgb(32, 187, 97), rgb(77, 221, 137), rgb(33, 243, 215) 100%);
    --options_bg_color: linear-gradient(to top right, rgb(8, 126, 57) , rgb(32, 172, 90) , rgb(42, 190, 104), rgb(26, 187, 165));
    --options_bg_color_hover: linear-gradient(to bottom left, rgb(7, 78, 37) , rgb(26, 136, 72) , rgb(27, 156, 81), rgb(18, 146, 129));
    --text_bold_weight: 900;
    --text_medium_weight: 500;
    --text_thin_weight: 300;
    --nav_item_text_size: 26px;


    --h1-font-size: 76px;
    --h2-font-size: 56px;
    --h3-font-size: 42px;
    --h4-font-size: 28px;
    --h5-font-size: 26px;
    --h6-font-size: 22px;

    --p-font-size: 18px;
    --menu-font-size: 18px;
    --category-font-size: 14px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 700;
    --font-weight-bold: 700;
}

* {
    margin: 0%;
    padding: 0%;
}

nav {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background: var(--nav_bg_color);
    font-weight: var(--font-weight-semibold);
    font-size: var(--nav_item_text_size);
    height: 5rem;
    text-align: center;
    border-bottom: 0.3rem solid rgb(213, 243, 130);
}

#logo {
    width: 20% !important;
    display: flex;
    margin-left: 1%;
    align-items: center;
}

#logo img {
    height: 4rem;
    width: 9rem;
}


#nav_options {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 65% !important;
}

.nav_item a {
    text-align: center;
    border-radius: 2rem;
    transition-duration: 0.6s;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    text-shadow: 2px 2px 5px slateblue;
    font-family: sans-serif;
}


#nav_language_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

#nav_language_button button {
    width: 8rem;
    border: none;
    padding: 0.5rem 1.5rem;
    background-color: rgb(223, 30, 30);
    font-weight: var(--text_medium_weight);
    color: white;
    font-size: var(--nav_item_text_size);
    border-radius: 2rem;
    transition-duration: 0.6s;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////// HOVER PORTION ///////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.nav_item a:hover {
    color: rgb(122, 13, 13);
    text-decoration: underline;
    text-shadow: none;
}

#nav_language_button button:hover {
    background-color: rgb(173, 45, 45);
}


/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// NAVIGATION BAR COMPLETE ////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// FIRST MAIN DIV START ///////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
#first_mian_div {
    width: 100%;
    height: 90vh;
    background-image: url(aserts/first\ main\ div\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    align-items: center;
    justify-content: center;
    display: flex;
}

.first_mian_div_parent_of_other {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 55em;
}

.inner_div_first_main_div h1 {
    font-size: var(--h1-font-size);
    text-align: center;
    color: azure;
    font-weight: var(--font-weight-bold);
    font-family: "Comfortaa", serif;
    text-transform: capitalize;
    line-height: 1.5em;
}

#first_main_div_inner_options_parent {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.first_main_div_inner_options {
    height: 9rem;
    box-shadow: 1px 1px 14px rgb(163, 10, 10);
    background:var(--options_bg_color);
    width: 9rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: var(--h4-font-size);
    color: bisque;
    font-family: sans-serif;
    padding: 10px;
    font-weight: var(--font-weight-semibold);
}

#first_main_div_inner_options_parent a {
    text-decoration: none;
    text-transform: capitalize;

}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////// HOVER PORTION ///////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.first_main_div_inner_options:hover {
    background: var(--options_bg_color_hover);
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// FIRST MAIN DIV COMPLETE ////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// SECOND MAIN DIV START //////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

